<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />

    <link rel="icon" href="img/favicon.svg" sizes="any" type="image/svg+xml" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <title>CTF Database</title>
  </head>
  <body class="bg-gray-50">
    <header>
      <div class="flex flex-row bg-gray-100 px-5 py-2">
        <a href="/" class="hover:underline hover:text-red-500 text-black py-1 px-4 font-bold">
          CTFDB
        </a>
      </div>
    </header>

    <main>
      <%= erb :flash %>

      <%= yield %>
    </main>
  </body>
</html>
